@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
    background-color: #bfbfbf;
}

.body-container{
  font-family: 'Open Sans' ,sans-serif;
  width: 95%;
  margin: 40px auto;
  background-color: #e2e2e2;
  border: 1px solid #b1b1b1;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:50px 0 20px;
}
.image > img{
  background-color: white;
  border-radius: 50%;
  border: 1px solid #c1c1c1;
}
.content{
  color: black;
  padding: 30px 40px;
}
.content p {
  line-height: 20px;
  text-align: center;
  color: black;
}

@media screen and (min-width:640px){
  .body-container{
    width: 80%;
  }
}

@media screen and (min-width:900px){
  .body-container{
    width: 850px;
  }
}
